#header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    width: 100%;
}

a {
    text-decoration: none !important;
    color: black !important;
}

#header h1 {
    margin: 0;
    letter-spacing: 2px;
}

#header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
}

#header ul li {
    margin-right: 20px;
}

#header ul li:last-child {
    margin-right: 0;
}

#header a {
    color: black;
}

@media only screen and (max-width: 600px) {
    * {
        text-align: center;
    }

    #header {
        display: block;
    }

    #header ul {
        letter-spacing: 0;
        font-size: 14px;
        margin-bottom: 0;
    }
}