* {
    box-sizing: border-box;
}
/*  */
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

#main {
    background: rgb(230, 218, 206);
    padding: 50px 0 30px;
    text-align: center;
}

#main .title {
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#main .sub-text {
    letter-spacing: 1px;
    line-height: 20px;
}

#quotes a {
    color: rgb(0, 80, 255) !important;
}

.container {
    width: 740px;
    margin: auto;
}

.row .card {
    width: 350px;
    box-shadow: rgba(138, 131, 124, 0.23) -11.31px 11.31px 17px 0px;
    display: inline-block;
    margin: 20px 15px 20px 0;
}

.card blockquote {
    margin: 0;
    background-color: rgb(244, 236, 230);
    padding: 40px 20px;
    height: 250px;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 2px;
    line-height: 22px;
    font-style: italic;
}

.card .img-border {
    width: 200px;
    text-align: center;
    margin: auto;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    top: -35px;
}

.card .img-wrapper {
    background-color: white;
    padding-bottom: 30px;
}
.card .personality {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    .row .card {
        width: 100%;
    }

    .card blockquote {
        height: auto;
    }
}